/* ================= HERO ================= */
.hero {
  margin-top: 65px;
  position: relative;
  width: 100%;
  height: 60vh; /* tinggi lebih kecil */
  overflow: hidden;
}

.slider {
  width: 80%;        /* width lebih kecil, ada jarak kiri-kanan */
  max-width: 1200px; /* optional, maksimal lebar */
  margin: 0 auto;    /* center horizontal */
  position: relative;
}

.slider img {
  width: 100%;       /* mengikuti lebar slider */
  height: 100%;      /* mengikuti tinggi hero */
  object-fit: cover; /* tetap proporsional */
  position: relative; /* supaya ikut width slider */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider img.active {
  opacity: 1;
}

.hero-content {
  position: absolute;
  top: 10%;          /* geser dari atas */
  left: 0;
  width: 80%;        /* sama dengan slider */
  margin: 0 auto;    /* center horizontal */
  padding: 0 5%;     /* jarak kiri-kanan untuk teks */
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  color: #ffd8a8;
}

.hero-content p {
  max-width: 550px;
  margin: 18px 0;
}
